[Unit]
Description=foubot
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
User=foubot
ExecStart=/usr/local/bin/foubot
Restart=always

PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
