[Unit]
Description=foubot2
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
User=foubot2
ExecStart=/usr/local/bin/foubot2
Restart=always

PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
